* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b2ffff;
}

.form-register {
    width: 400px;
    background: #e6de76;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #ecf3f3f8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(55, 83, 206);
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}

.form-register p {
    height: 70px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: black;
    text-decoration: none;
}

.form-register .botons:hover {
    color: black;
    background-color: rgb(124, 208, 187);
}

.form-register .botons {
    width: 100%;
    background: #1cada8;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 16px;
}

label {
    margin-left: 8px;
    font-size: 12px;
    padding: 5px;
    display: block;
    width: 100%;
    font-family: 'calibri';
}

nav#menu {
    padding: 0;
}

nav#menu ul li {
    display: block;
}

nav#menu ul li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

nav#menu ul li a:hover {
    background-color: #d27300;
}

table,td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #e6de76;
    
}
td{
    padding: 10px;
}
tr:nth-of-type(1) > th{
    background-color: orange;
}
.botons {
    width: 100%;
    background: #1cada8;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 16px;
}
.botons:hover {
    color: black;
    background-color: rgb(124, 208, 187);
}
